- name: install service packages
  yum:
    name:
      - "{{ item }}"
  with_items: "{{ packages }}"

- name: "check selinux installed"
  stat:
    path: "/usr/sbin/getenforce"
  register: selinux
- name: "disable selinux"
  selinux:
    state: "disabled"
  when: selinux.stat.exists

- name: "/etc/cron.d/sysstat"
  copy:
    src: "sysstat"
    dest: "/etc/cron.d/sysstat"

- name: "check firewalld installed"
  stat:
    path: "/usr/bin/firewall-cmd"
  register: "firewalld"
- name: "disable service firewalld"
  systemd:
    name: "firewalld"
    state: "stopped"
    enabled: "no"
  when: firewalld.stat.exists

- name: "history size, format"
  copy:
    src: history.sh
    dest: /etc/profile.d/history.sh

- name: set timezone
  shell: timedatectl set-timezone {{ zone }}
  register: set_timezone
  changed_when: false
  check_mode: no

- name: set loclale
  shell: localectl set-locale LANG={{ locale }}
  register: set_locale
  changed_when: false
  check_mode: no
